@{
    Layout = "_MyLayout";
    ViewData["Title"] = "ProductDetails";
}

<h1>ProductDetails</h1>

<div class="card" style="width: 400px;">
    <img class="card-img-top" src="/Images/@Model.Image" alt="Card image cap">
    <div class="card-body">
        <h5 class="card-title">@Model.Name</h5>
        <p class="card-text">@Model.Description - @Model.Price</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
    </div>
</div>

@section MenuSection
{
    <h1>Hello From View To Layout Menu Section</h1>
}

@section FooterSection
{
    <h1>Hello From View To Layout Footer Section</h1>
}

